---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Not found">
  <h1>That page doesn't exist in this universe.</h1>
  <p><a href="/">Return to the main viewscreen.</a></p>
</Layout>
